.row {
  background-color: #fff;
  border: 1px solid #abb5c5;
  padding: 1rem;
  border-radius: 4px;
}

label {
    visibility: hidden;
    font-size: 1px;
}

select {
    padding: 5px;
    border: 1px solid #afaeae;
    border-radius: 4px;
    width: 30%;
}

select.range, input#range1, input#range2 {
    width: 20%;
}

.alignCenter {align-self: center;}

.isand {
    padding: 5px 10px;
    background-color: #efefef;
    border: 1px solid #abb5c5;
    border-radius: 4px;
    text-align: center;
    display: inline;
    vertical-align: middle;
}